@import "config";
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: $c-f;
  background: $c-bg-gray;
  height: 100%;
  min-width: $w-body-min;
  min-height: $h-body-min;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: $c-bg-white;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: $h-grid-space $w-grid-space;
  box-sizing: border-box;
  overflow-x: auto;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
div, a, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
  display: inline-block;
  box-sizing: border-box;
  *display: inline;
  *zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font: 300 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  letter-spacing: 0.3px;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}

/* 去除默认边框 */
fieldset, img {
  border: 0;
}

/* 解决 IE6-7 图片缩放锯齿问题 */
img {
  -ms-interpolation-mode: bicubic;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}

/* 块/段落引用 */
blockquote {
  margin: 1em 4em 1em 2em;
  padding: 0.6em 1em;
  background: $c-bg-grayish;
}

blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
  border-left: 0.4em solid $c-rim-gray;
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help;
}

/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {
  list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: text-top \9
;
}

:root sub, :root sup {
  vertical-align: baseline; /* for ie9 and other mordern browsers */
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
  text-decoration: none;
}

/* 标记，类似于手写的荧光笔的作用 */
mark {
  background: $c-bg-grayish;
}

/* 代码片断 */
pre, code {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  border: 1px solid #ddd;
  border-left-width: 0.4em;
  background: #fbfbfb;
  padding: 10px;
}

/* 底部印刷体、版本等标记 */
small {
  font-size: 12px;
  color: $c-f-aid;
}

a {
  color: $c-main;
}

a:hover {
  color: $c-main-hover;
}

a:active {
  color: $c-main-active;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  background-color: rgba($c-gray, .7);
  height: 50px;
  border-radius: 6px;
  width: 6px;
  transition: background .3 $bezier;
  :hover {
    background-color: rgba($c-gray, .8);

  }
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  background-color: rgba($c-gray, .7);
  height: 50px;
  border-radius: 6px;
  width: 6px;
  transition: background .3 $bezier;
  :hover {
    background-color: rgba($c-gray, .8);

  }
}

/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 10px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
}

input::-webkit-input-placeholder {
  color: $c-f-aid;
}
input::-moz-placeholder {
  color: $c-f-aid;
}
input::-ms-input-placeholder {
  color: $c-f-aid;
}
