@import "../base/config";
@mixin btn {
  height: 32px;
  line-height: 32px;
  width: 128px;
  margin-bottom: 10px;
  padding: 0;
  font-size: $f-xs;
  color: $c-f-white;
  border: none;
  border-radius: $border-radius-xs;
}
.el-button--primary{
  @include btn;
  background: $c-main;
}
.el-button--info {
  @include btn;
  background: $c-f-d4;
}
