@import "../base/config";

.el-pagination {
  margin-top: 40px;
  text-align: center;
  font-size: $f-xs;
  color: $c-f;
  .el-pager li {
    min-width: 28px;
    font-size: $f-xs;
    padding: 0;
    font-weight: 400;
    &.active {
      font-weight: bolder;
    }
  }
  .btn-next,.btn-prev {
    color: #89b7ed;
    &.disabled{
      color: $c-f-d4;
    }
    .el-icon {
      font-size: $f-s;
    }
  }
}
