@import "../base/config";

.el-select {
  .el-input--suffix {
    right: 0;
    .el-input__inner {
      width: 160px;
      height: 24px;
      font-size: $f-s;
      color: $c-f-gray;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $c-bd-gray;
    }
    .el-input__suffix {
      right: -5px;
    }
    .el-select__caret {
      color: $c-f-d4;
    }
    .el-icon-arrow-up:before {
      content: "\E60C";
    }
  }
}

.el-select-dropdown__wrap {
  max-width: 240px;
  overflow-y: auto;
  .el-select-dropdown__item {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: $f-xs;
    color: #5d5954;
    border-bottom: 1px solid $c-bd-gray;
  }
}
